In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import warnings
warnings.filterwarnings('ignore')

C:\Users\HP\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
data=pd.read_csv("Indian_movies.csv") 
data.head(5)

,Id,Movie Names,Links,Rating,Year,Duration_of_movie,Genere,Description
0,1,Ramayana: The Legend of Prince Rama,https://m.media-amazon.com/images/M/MV5BZWY1NT...,9.2,1993,PG,"Animation,Action,Adventure,Back to top",An anime adaptation of the Hindu epic the Rama...
1,2,Rocketry: The Nambi Effect,https://m.media-amazon.com/images/M/MV5BODkyMD...,8.7,2022,2h 37m,"Biography,Drama,Back to top",Based on the life of Indian Space Research Org...
2,3,Nayakan,https://m.media-amazon.com/images/M/MV5BNDgyND...,8.6,1987,Not Rated,"Crime,Drama,Back to top",A common man's struggles against a corrupt pol...
3,4,Gol Maal,https://m.media-amazon.com/images/M/MV5BNjc2ZG...,8.5,1979,Not Rated,"Comedy,Romance,Back to top",A man's simple lie to secure his job escalates...
4,5,Anbe Sivam,https://m.media-amazon.com/images/M/MV5BNDAxNW...,8.6,2003,Not Rated,"Adventure,Comedy,Drama,Back to top","Two men, one young and arrogant, the other dam..."

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 250 non-null    int64
 1   Movie Names        250 non-null    object
 2   Links              250 non-null    object
 3   Rating             250 non-null    float64
 4   Year               250 non-null    int64
 5   Duration_of_movie  250 non-null    object
 6   Genere             250 non-null    object
 7   Description        250 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 15.8+ KB

In [4]:
data.describe()

               Id      Rating        Year
count  250.000000  250.000000   250.00000
mean   125.500000    8.182000  2007.97600
std     72.312977    0.263198    14.66546
min      1.000000    7.700000  1955.00000
25%     63.250000    8.000000  2003.00000
50%    125.500000    8.100000  2013.00000
75%    187.750000    8.300000  2018.00000
max    250.000000    9.200000  2023.00000

In [5]:
data.dropna()

,Id,Movie Names,Links,Rating,Year,Duration_of_movie,Genere,Description
0,1,Ramayana: The Legend of Prince Rama,https://m.media-amazon.com/images/M/MV5BZWY1NT...,9.2,1993,PG,"Animation,Action,Adventure,Back to top",An anime adaptation of the Hindu epic the Rama...
1,2,Rocketry: The Nambi Effect,https://m.media-amazon.com/images/M/MV5BODkyMD...,8.7,2022,2h 37m,"Biography,Drama,Back to top",Based on the life of Indian Space Research Org...
2,3,Nayakan,https://m.media-amazon.com/images/M/MV5BNDgyND...,8.6,1987,Not Rated,"Crime,Drama,Back to top",A common man's struggles against a corrupt pol...
3,4,Gol Maal,https://m.media-amazon.com/images/M/MV5BNjc2ZG...,8.5,1979,Not Rated,"Comedy,Romance,Back to top",A man's simple lie to secure his job escalates...
4,5,Anbe Sivam,https://m.media-amazon.com/images/M/MV5BNDAxNW...,8.6,2003,Not Rated,"Adventure,Comedy,Drama,Back to top","Two men, one young and arrogant, the other dam..."
...,...,...,...,...,...,...,...,...
245,246,Kai Po Che,https://m.media-amazon.com/images/M/MV5BMTgwNT...,7.8,2013,Not Rated,"Drama,Sport,Back to top",Three friends growing up in India at the turn ...
246,247,Poove Unakkaga,https://m.media-amazon.com/images/M/MV5BZThhNz...,8.6,1996,2h 30m,"Comedy,Drama,Romance,Back to top",When a man realizes that the Hindu woman he lo...
247,248,Raazi,https://m.media-amazon.com/images/M/MV5BYjM0ZT...,7.7,2018,Not Rated,"Action,Drama,Thriller,Back to top",A Kashmiri woman agrees to marry a Pakistani a...
248,249,Dasvidaniya,https://m.media-amazon.com/images/M/MV5BYTc4OT...,7.8,2008,1h 53m,"Comedy,Drama,Back to top","A man who loves to make ""to-do lists"" makes on..."
249,250,Dia,https://m.media-amazon.com/images/M/MV5BMDkyNG...,8.0,2020,2h 17m,"Drama,Romance,Back to top",Dia takes three years to confess her feelings ...

In [6]:
data.columns

Index(['Id', 'Movie Names', 'Links', 'Rating', 'Year', 'Duration_of_movie',
       'Genere', 'Description'],
      dtype='object')

In [7]:
data.rename(columns={'Movie Names': 'Title'}, inplace=True)

In [8]:
data=data[["Id","Title","Links","Rating","Year","Genere","Description"]]

In [9]:
data.head(5)

,Id,Title,Links,Rating,Year,Genere,Description
0,1,Ramayana: The Legend of Prince Rama,https://m.media-amazon.com/images/M/MV5BZWY1NT...,9.2,1993,"Animation,Action,Adventure,Back to top",An anime adaptation of the Hindu epic the Rama...
1,2,Rocketry: The Nambi Effect,https://m.media-amazon.com/images/M/MV5BODkyMD...,8.7,2022,"Biography,Drama,Back to top",Based on the life of Indian Space Research Org...
2,3,Nayakan,https://m.media-amazon.com/images/M/MV5BNDgyND...,8.6,1987,"Crime,Drama,Back to top",A common man's struggles against a corrupt pol...
3,4,Gol Maal,https://m.media-amazon.com/images/M/MV5BNjc2ZG...,8.5,1979,"Comedy,Romance,Back to top",A man's simple lie to secure his job escalates...
4,5,Anbe Sivam,https://m.media-amazon.com/images/M/MV5BNDAxNW...,8.6,2003,"Adventure,Comedy,Drama,Back to top","Two men, one young and arrogant, the other dam..."

In [10]:
def recommend_movies(title, a,data=data):
    tfidf = TfidfVectorizer(stop_words='english')
    tfidf_matrix = tfidf.fit_transform(data[a])
    cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
    idx = data.index[data['Title'] == title].tolist()[0]
    sim_scores = sorted(list(enumerate(cosine_sim[idx])), key=lambda x: x[1], reverse=True)
    l=[]
    for i in sim_scores[1:6]:
        l.append(data.iloc[i[0]].Title)
    return l

In [11]:
recommend_movies("Gol Maal","Description")

['Johnny Gaddaar', 'Padosan', 'Aadukalam', 'Pithamagan', 'Thalapathi']

In [12]:
recommend_movies("Gol Maal","Genere")

['Vicky Donor',
 'Kumbalangi Nights',
 'Chupke Chupke',
 'Bangalore Days',
 'Premam']

In [13]:
data.to_csv('data.csv', index=False)